---
import { getI18N } from '../i18n/index.ts'

const locale = Astro.locals.currentLocale || 'en'
const t = getI18N({ currentLocale: locale });
---

<section id="about" class="pt-section bg-primary bg-grid">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl sm:text-4xl font-bold text-text-primary mb-6 text-center">
      {t.about.title}
    </h2>
    <p class="text-lg text-text-secondary mb-6 leading-relaxed text-balance text-center">
      {t.about.text_1}
    </p>
    <div class="flex flex-col lg:flex-row items-center max-w-3xl mx-auto">
      <div class="flex flex-col justify-start items-center flex-1">
        <p class="text-lg text-text-secondary mb-8 leading-relaxed text-balance text-left w-full">
          {t.about.text_2}
        </p>
        <h3 class="text-xl font-semibold text-text-primary mb-3 text-left w-full">{t.about.subtitle}</h3>
        <p class="text-text-secondary italic text-left w-full">
          {t.about.text_3}
        </p>
        <p class="font-semibold text-gray-900 dark:text-white text-left w-full">Sergio Sánchez</p>
        <p class="text-text-secondary text-left w-full">Founder & CEO</p>
      </div>
      <div id="about-avatar" class="flex flex-col items-center justify-center flex-1">
        <img class="max-w-[300px] filter grayscale" src="/public/sergio.webp" alt="">
      </div>
    </div>

  </div>
</section>

<style>
  #about h2, #about p, #about-avatar {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
</style>
