---
import { getI18N } from '../i18n/index.ts'
import SunIcon from './icons/SunIcon.astro'
import MoonIcon from './icons/MoonIcon.astro'
import BurguerMenuIcon from './icons/BurguerMenuIcon.astro'
import Logo from './icons/logo.astro'

const locale = Astro.locals.currentLocale || 'en'
const t = getI18N({ currentLocale: locale });
---

<header class="fixed top-0 left-0 right-0 z-50 bg-primary/95 backdrop-blur-sm border-b border-primary">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-sm">
    <div class="flex items-center justify-between h-16">
      <!-- Logo -->
      <div class="flex-shrink-0 flex-1">
        <a href="/" class="font-bold text-text-primary uppercase flex items-center">
          <Logo class="max-w-6 contrast-50 inline" />
          Costa<span class="font-light">blanca</span>
        </a>
      </div>

      <!-- Navigation Menu -->
      <div class="hidden md:block">
        <div class="flex items-baseline space-x-8">
          <a href="#hero" class="text-text-secondary hover:text-accent font-medium">{t.header.home}</a>
          <a href="#services" class="text-text-secondary hover:text-accent font-medium">{t.header.services}</a>
          <!-- <a href="#portfolio" class="text-text-secondary hover:text-accent font-medium">{t.header.portfolio}</a> -->
          <a href="#about" class="text-text-secondary hover:text-accent font-medium">{t.header.about}</a>
          <a href="#blog" class="text-text-secondary hover:text-accent font-medium">{t.header.blog}</a>
          <a href="#contact" class="text-text-secondary hover:text-accent font-medium">{t.header.contact}</a>
        </div>
      </div>

      <!-- Theme Toggle & Language Selector -->
      <div class="hidden md:flex flex-1 justify-end">
        <div class="flex items-center gap-4">
          <!-- <select name="language" class="language-selector bg-primary text-text-secondary font-medium rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-accent cursor-pointer" value={currentLocale}>
            <option value="en" selected={currentLocale === 'en'}>English</option>
            <option value="es" selected={currentLocale === 'es'}>Español</option>
          </select> -->
          <button onclick="toggleTheme()" class="theme-toggle p-2 rounded group">
            <MoonIcon />
            <SunIcon />
          </button>
          <!-- <a href="#contact" class="button font-semibold shadow-sm">
            Get a Free Demo
          </a> -->
        </div>
      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden">
        <button type="button" class="mobile-menu-button text-text-primary hover:text-accent focus:outline-none">
          <BurguerMenuIcon />
        </button>
      </div>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu hidden md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 bg-secondary shadow-lg rounded-2xl mt-2">
        <a href="#home" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.home}</a>
        <a href="#services" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.services}</a>
        <!-- <a href="#portfolio" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.portfolio}</a> -->
        <a href="#about" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.about}</a>
        <a href="#blog" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.blog}</a>
        <a href="#contact" class="block px-3 py-2 text-text-secondary hover:text-accent font-medium">{t.header.contact}</a>
        <div class="flex items-center justify-between mx-3 mt-4">
          <button onclick="toggleTheme()" class="theme-toggle p-2 rounded-xl">
            <MoonIcon />
            <SunIcon />
          </button>
        </div>
        <!-- <a href="#contact" class="block mx-3 mt-4 bg-primary-500 text-gray-900 px-4 py-2 rounded-2xl font-semibold text-center">
          Get a Free Demo
        </a> -->
      </div>
    </div>
  </nav>
</header>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const mobileMenuButton = document.querySelector('.mobile-menu-button')
  const mobileMenu = document.querySelector('.mobile-menu')

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener('click', function () {
      mobileMenu.classList.toggle('hidden')
    })
  }

  // Close mobile menu when clicking on a link
  const mobileLinks = mobileMenu?.querySelectorAll('a')
  mobileLinks?.forEach(link => {
    link.addEventListener('click', () => {
      mobileMenu?.classList.add('hidden')
    })
  })
})
// const selectLanguage = document.querySelector('.language-selector')
// selectLanguage?.addEventListener('change', (e) => {
//   const selectedLang = (e.target as HTMLSelectElement).value
//   const currentPath = window.location.pathname
//   const newPath = `/${selectedLang}${currentPath.substring(3)}`
//   if (newPath === '/es') {
//     window.location.href = '/'
//   } else {
//     window.location.href = newPath
//   }
// })
</script>
